@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nerko+One&family=New+Amsterdam&family=Pacifico&display=swap");
.carousel {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #e6decf;
  padding: 0 30px;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  flex-grow: 2;
  position: relative;
  padding: 20px;
}

.carousel-slide {
  display: none;
  flex-grow: 1;
  padding: 20px 0 30px;
}

.carousel-slide.active {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
}

.main-header {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 600;
}

.main-title {
  font-family: var(--italic-font);
  font-size: 80px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
}

.main-subtitle {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 10px;
  letter-spacing: 1px;
}

.main-content_title {
  font-size: 40px;
  font-family: var(--italic-font);
  font-style: italic;
  margin-bottom: 50px;
  font-family: "Crimson Text", serif;
}
.more-menu {
  display: flex;
  gap: 20px;
}

.more-menu-button {
  background-color: #6ea9a8;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.more-menu-button:hover {
  background-color: #dbccdf;
}

.swiper-button {
  margin-left: 20px;
  font-size: 200px;
}

.right-side {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: flex-end;
}

.bottle-bg {
  width: auto;
  height: 80vh;
  object-fit: cover;
}

.button-wrapper {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.swiper-button {
  border: 1px solid var(--body-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.swiper-button + .swiper-button {
  margin-left: 16px;
}

.swiper-button:hover {
  background-color: var(--body-color);
  background-position: left bottom;
}

.swiper-button:hover svg {
  stroke: #fff;
}

.swiper-prev-button {
  background: linear-gradient(to left, var(--body-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}

.swiper-prev-button svg {
  transform: rotate(-180deg);
}

.swiper-prev-button:hover {
  background-position: right bottom;
}

.swiper-pagination {
  position: absolute;
  right: 30px;
  top: 100px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 930px) {
  .carousel-slide {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .left-side {
    text-align: center;
    max-width: 450px;
  }

  .center {
    margin-left: 0;
    margin-bottom: 56px;
  }

  .more-menu {
    justify-content: center;
  }

  .button-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }
}

@media screen and (max-width: 575px) {
  .carousel {
    padding: 0;
  }

  .button-wrapper {
    padding: 0 20px;
  }

  .bottle-bg {
    width: 220px;
    height: 340px;
  }
}
