@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nerko+One&family=New+Amsterdam&display=swap");
:root {
  --primary-color: #6ea9a8;
  --secondary-color: #4a4a4a;
  --background-color: #f9f9f9;
  --footer-color: #415161;
  --text-color: #333;
  --light-text-color: #666;
  --border-color: #e0e0e0;
  --text-01: #45413e;
  --light-01: #f9f9f9;
  --light-02: #ffffff;
  --brand-01: #db7f67;
  --brand-02: #f4cfc6;
  --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --hover-timing: all 0.2s ease;
  --nav-card-size: 240px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--footer-color);
  color: #fff;
  font-size: 14px;
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-right a {
  color: #fff;
  margin-left: 20px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #ccc;
}

/* Carousel*/
.carousel .slide img {
  height: 100vh;
  object-fit: cover;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 14px;
}

/* Header */
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-01);
  margin-bottom: 20px;
  height: 100px;
  /* padding: 10px; */
  margin-bottom: 20px;
  margin-top: 40px;
}

.header-image {
  height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  max-height: 100px;
}

.header-title {
  font-size: 3rem;
  color: #828fa2;
  align-self: center;
  font-family: "Crimson Text", serif;
  padding: 10px;
}

.header-icon {
  font-size: 3rem;
  color: #828fa2;
  align-self: center;
}

/* Gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 24%;
  max-width: 24%;
  padding: 0.5%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery-main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.gallery-main img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
