.manage-products-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.manage-products-content {
  margin-top: 20px;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th,
.products-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.products-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.edit-btn,
.delete-btn,
.add-product-btn {
  padding: 5px 10px;
  margin-right: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.edit-btn {
  background-color: #95c194;
  color: white;
  text-decoration: none;
}

.delete-btn {
  background-color: #ce3d2e;
  color: white;
}

.add-product-btn {
  background-color: #c4b5de;
  color: white;
}
