.wishlist-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wishlist-content {
  margin-top: 40px;
}

.empty-wishlist {
  font-size: 40px;
  color: #828fa2;
  text-align: center;
}
.empty-wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.wishlist-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wishlist-item-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 10px;
}

.wishlist-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wishlist-item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.wishlist-item-price {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.wishlist-item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.wishlist-action-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.wishlist-action-btn.add-to-cart {
  background-color: #6ea9a8;
  color: white;
}

.wishlist-action-btn.add-to-cart:hover {
  background-color: #519151;
}

.wishlist-action-btn.remove {
  background-color: #d69da4;
  color: white;
}

.wishlist-action-btn.remove:hover {
  background-color: #a02724;
}

@media (max-width: 768px) {
  .wishlist-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .wishlist-grid {
    grid-template-columns: 1fr;
  }
}
